@model Piso


<div class="text-center">
    <h1 class="display-4">Verificação das medidas</h1>
</div><br />

    <div class="form-group text-center">
            <div>Local da instalação ( @Html.DisplayFor(piso => piso.Local) )</div>
            <div>Área do local ( @Html.DisplayFor(piso => piso.Area1) mts x @Html.DisplayFor(piso => piso.Area2) mts ) =  @Html.DisplayFor(piso => piso.CalculoArea) mts²</div>
            <div>Área do piso ( @Html.DisplayFor(piso => piso.Piso1) cm x @Html.DisplayFor(piso => piso.Piso2) cm ) =  @Html.DisplayFor(piso => piso.CalculoAreaPiso) mts²</div>
            <div>Quantidade de pisos = @Html.DisplayFor(piso => piso.CalculoPiso) peças</div>
            <div>Adicionado 10% no cáclulo = @Html.DisplayFor(piso => piso.Opcao) </div>
    </div><br />

            <div class="form-group text-center">
               <a class="btn btn-outline-primary" asp-controller="Piso" asp-action="Index" role="button">Voltar</a>
            </div>
        

   



  

  




   

    

